.html {
    font-family: carbona-variable, sans-serif;
    font-size: 14px;
}

:root {
    --yellow: #F5F3C3;
    --red: #5C1116;
    --green: #455127;
    --basic-text: normal 300 1rem carbona-variable, sans-serif;
    --header-text: bold 700 3rem carbona-variable, sans-serif;
}


/* ---------------------------------------------------- */
/* INDEX/HOME Page */
/* ---------------------------------------------------- */

/* NAVIGATION */
.home-nav-and-hero, .home-nav-and-hero a {
    color: var(--yellow);
    text-decoration: none;
    text-transform: uppercase;
}

.home-nav-and-hero hr {
    border-top: 4px solid var(--yellow);
    opacity: 1;
    width: 100%;
}

.home-nav-and-hero a {
    font-size: 4vw;
}

.home-nav-and-hero p {
    font-size: 3.5vw;
}

.home-nav {
    width: 85%;
    padding-top: 7.5vh;
}

/* HERO */
.home-nav-and-hero {
    background-image: url(../images/home-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-hero {
    width: 120%;
    height: auto;
}

/* WAVY EDGE SECTION */
.home-wavy-edge {
    height: 10vh;
    width: 100vw;
  --mask:
    radial-gradient(25px at 50% 35px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
    radial-gradient(25px at 50% -15px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    background-color: #5C1116;
}

/* ABOUT SECTION */
.home-about {
    background-color: var(--red);
    color: var(--yellow);
    padding-bottom: 75px;
}

.home-about img {
    border-color: var(--yellow) !important;
    box-shadow: -6px 6px 0 0 var(--yellow);
}

.home-about h2 {
    font: var(--header-text);
    text-transform: uppercase;
    font-size: 3.5vw;
}

.home-about p {
    font: var(--basic-text);
    font-size: max(1rem, 3.5vw);
}

/* REVIEWS */
.home-reviews-and-footer {
    background-color: var(--yellow);
    color: var(--red);
}

.home-reviews-and-footer hr {
    border-color: 2px solid var(--red);
    opacity: 1;
    width: 100%;
}

.home-review-card h2 {
    font: var(--basic-text);
    font-size: max(1rem, 3.5vw);
}

.home-review-card h3 {
    font: var(--header-text);
    font-size: 2.5vw;
    text-transform: uppercase;
}


/* ---------------------------------------------------- */
/* ABOUT PAGE */
/* ---------------------------------------------------- */

/* HERO */
.about-nav-and-hero, .about-nav-and-hero {
    background-image: url(../images/about-hero.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

/* CTA */
.about-cta {
    background-color: var(--red);
    color: var(--yellow);
}

.about-cta .vertical-bar {
    width: 0.5rem;
    height: 300px;
    background-color: var(--yellow);
}

.about-cta h2 {
    font: var(--header-text);
    font-size: 3.5vw;
    text-transform: uppercase;
}

/* TEXT CONTENT */


/* ---------------------------------------------------- */
/* FOOTER | ALL PAGES */
/* ---------------------------------------------------- */

.footer, footer {
    background-color: var(--green);
    color: var(--yellow);
}

.footer h2 {
    font: var(--header-text);
    font-size: 1.3rem;
}

.footer p {
    font: var(--basic-text);
    font-size: 0.75rem;
}